Package: com.7zo.youtubed
Name: YouTubed
Version: 0.0.1
Architecture: iphoneos-arm
Description: A simple YouTube improvement tweak
Maintainer: 7zo
Author: 7zo
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
